$fontmain: #FFFFFF;
$buttonmain: #2094E6;
$playfair: 'Playfair Display', serif;
$worksans: 'Work Sans', sans-serif;

@import  "./header.scss";
@import  "./hero.scss";
@import  "./aboutus.scss";
@import  "./offers.scss";
@import  "./products.scss";