.products{
    margin-top: 150px;
    margin-bottom: 100px;
    min-height: 558px;
    .container{
        max-width: 100%;
        min-height: 558px;
        display: flex;
        flex-direction: column;
        .producttitle{
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            p{
                font-size: 18px;
                font-family: $playfair;
                margin: 0 auto;
                color: $buttonmain;
            }
            h3{
                font-size: 45px;
                font-family: $playfair;
                margin-top: 10px;
            }
        }
        .productbox{
            display: flex;
            justify-content: center;
            width: 95%;
            margin: 0 auto;
            gap: 20px;
            margin-top: 50px;
            .destination{
                max-width: 385px;
                min-height: 400px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                &:after{
                    content:'';
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: #1064b886;
                    z-index: -1;
                }
                img{
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: -2;
                    max-width: 100% ;
                    min-height: 400px;
                }
                span{
                    font-size: 24px;
                    font-family: $playfair;
                    margin-bottom: 10px;
                    color: $fontmain;
                }
                p{
                    font-family: $worksans;
                    font-size: 16px;
                    margin-bottom: 25px;
                    max-width: 320px;
                    line-height: 150%;
                    color: $fontmain;
                }

            }

        }

    }
}
@media(max-width: 420px){
    .products{
        margin-top: 40px;
    }
    .products .container div.producttitle h3{
        font-size: 30px;
    }
    .products .container div.producttitle p{
        font-size: 14px;
    }

}
@media(max-width: 700px){
    .products .container .productbox{
        flex-direction: column;
        align-items: center;
        margin-top: 35px;
    }
    .products{
        margin-top: 60px;
    }
    .products .container .producttitle h3{
        font-size: 40px;
    }
    .products .container .producttitle p{
        font-size: 16px;
    }

}
@media(max-width:1024px){
    .products .container .productbox .destination img{
        max-width: 100%;
        object-fit: cover;
    }
    .products .container .productbox .destination{
        height: 100%;
        min-height: none;
    }
    .products .container .productbox .destination span{
        font-size: 22px;
        width: 90%;
    }
    .products .container .productbox .destination p{
        font-size: 14px;
        width: 90%;
    }
    .products{
        margin-top: 100px;
    }

}
@media(max-width:1440px){
    .container .productbox .destination img{
        max-width: 100%;
        object-fit: cover;
    }
}
