.hero {
  height: 660px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.hero figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hero figure img {
  width: 100%;
  height: 100%;
}
.hero figure:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}
.hero .container {
  max-width: 100%;
}
.hero .container .hero_content {
  max-width: 592px;
}
.hero .container .hero_content .title {
  font-family: playfair;
  font-size: 60px;
  color: var(--fontmain);
  line-height: 110%;
  margin-bottom: 24px;
}
.hero .container .hero_content .maintext {
  font-family: worksans;
  font-size: 18px;
  color: var(--fontmain);
  line-height: 150%;
  margin-bottom: 24px;
}