.products {
  margin-top: 80px;
  min-height: 558px;
}
.products .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.products .container .protucttitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
}
.products .container .protucttitle span {
  margin: 0 auto;
}
.products .container .protucttitle p {
  margin: 0 auto;
}